[submodule "lib/cliport"]
	path = lib/cliport
	url = https://github.com/modanesh/cliport.git
[submodule "lib/Minigrid"]
	path = lib/Minigrid
	url = https://github.com/modanesh/Minigrid.git
[submodule "lib/pytorch_vae"]
	path = lib/pytorch_vae
	url = https://github.com/PavelCz/PyTorch-VAE
